<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" href="style.css">
     
        <title>Cheat Sheet.</title>
        
    </head>
    <body>  
    <div class="title">
        <h1>
            Kellen's Poll
        </h1>
    </div>
    
    <div class="notes" style="background:pink; font-size:30px;">
        <p>
        Im using this to test my Django poll app!!!!!! Look Here for testing.
        </p>
        <div>
       <h1>{{ question.question_text }}</h1>

<ul>
{% for choice in question.choice_set.all %}
    
    <li>{{ choice.choice_text }}</li>
    <!--<li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>-->
{% endfor %}
</ul>

<a href="{% url 'polls:detail' question.id %}">Vote again?</a>
        </div>
    </div>
    
    </body>
</html>
