<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" href="style.css">
     
        <title>Cheat Sheet.</title>
        
    </head>
    <body>  
    <div class="title">
        <h1>
            Kellen's Cheat Sheet.
        </h1>
    </div>
    
    <div class="notes" style="background:pink; font-size:30px;">
        <p>
        Im using this to test my Django poll app!!!!!! Look Here for testing.
        </p>
        <div>
             {% if latest_questions %}
        <ul>
            {% for question in latest_questions %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</b></a></li>
        {% endfor %}
        </ul>
        {% else %}
            <p> You dont</p>
        {%endif %}
        </div>
    </div>
    
    </body>
</html>
